/*公共基础样式*/ 

/* 改变主题色变量 #009688*/
/*$--color-primary: red;*/

/* 改变 icon 字体路径变量，必需 */
/*$--font-path: '../../node_modules/element-ui/lib/theme-chalk/fonts';*/

/*@import "../../node_modules/element-ui/packages/theme-chalk/src/index";*/


html{
   font-family: 'Microsoft YaHei'!important;
}
input::-webkit-input-placeholder{
  font-family: 'Microsoft YaHei'!important;
}
*, *::before, *::after{
  box-sizing: border-box;
}
button {
  font-family: 'Microsoft YaHei'!important;
}
.container-header {
  .input-search {
    .el-input__inner {
      width: 270px;
      height: 28px;
      line-height: 28px;
    }
    .el-input__icon {
      line-height: 28px;
    }
    .el-input__inner:focus {
      border: 1px solid #ddd;
    }
  }  
}

.el-menu {
  border-right: 0!important;
}

.el-menu-item-group__title {
  padding:0;
}

.el-menu--vertical .el-menu--popup-right-start .el-menu-item {
  height: 40px;
  line-height: 40px;
}

.el-submenu .el-menu-item {
  height: 40px;
  line-height: 40px;
}

.login-wrapper {
  .el-input__inner {
   padding-left: 40px;
  }
}


