/*公共基础样式*/ 
html{
   font-family: 'Microsoft YaHei'!important;
}
input::-webkit-input-placeholder{
  font-family: 'Microsoft YaHei'!important;
}

button {
  font-family: 'Microsoft YaHei'!important;
}
.container-header {
  .input-search {
    .el-input__inner {
      width: 270px;
      height: 28px;
      line-height: 28px;
    }
    .el-input__icon {
      line-height: 28px;
    }
    .el-input__inner:focus {
      border: 1px solid #ddd;
    }
  }  
}

.el-menu {
  border-right: 0!important;
}

.el-menu-item-group__title {
  padding:0;
}

.el-menu-item {
  height: 40px;
  line-height: 40px;
}

